rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow admin users to write to the 'resources/' path
    match /resources/{adminId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == adminId &&
                      get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Allow anyone to read any file. 
    // You might want to restrict this further in a production app.
    match /{allPaths=**} {
      allow read: if true;
    }
  }
}
